body {
    margin: 60px auto;
    width: 70%;
    background-image: url("https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwik1pnQ7PbQAhVS7WMKHf9iDtsQjRwIBw&url=http%3A%2F%2Fwww.4kwallpapers.cf%2Fwallpaper%2Ficelands-ring-road%2F1920x1080&bvm=bv.142059868,bs.2,d.dGo&psig=AFQjCNHJKgbw_ydz8WAZIZy5rq3Zcn_5uw&ust=1481913440934467");
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: white;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: white;
}
footer {
    font-size: .8em;
    color: white;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    color: white;
}

ul.posts li {
    list-style: none;
}
